
 
<footer id="footer">

<div class="row">

<div class="col-lg-3 relleno">
  <a href="">Help</a> </br>
  <p><a href="http://localhost:3000/about#"> About Rotten Tomatoes</a
  <a href="">What's the Tomatoes</a> </br>
  <a href="">Jobs</a> </br>
  <a href="">Advertise</a> </br>
</div>  <!-- col-lg- -->


<div class="col-lg-3 relleno">
  <a href="">Critic Submission</a> </br>
  <a href="">API</a> </br>
  <a href="">Licensing</a> </br>


  <div class="text1">
                             
       <img src="images.png" width="34" height="34" />      JOIN THE NEWSLETTER</br>
               Get the freshest reviews, news, and more delivered  <br/><br/>
                             <input type="button" class="button" value="Join the newsletter!!"><br/>
                                
                                  </div> 


  
</div>  <!-- col-lg- -->

<div class="col-lg-6 relleno">
 <p class="white size18"><b>FOLLOW US</b></p>
 <a href=https://twitter.com/?lang=es target="_blank">
 <img src="twitter(1).png" width="34" height="34" /> </i> </a>&nbsp;&nbsp;
 <a href="" target="_blank"><img src="face.png" width="34" height="34" /></i>   </a> &nbsp;&nbsp;
  <a href="http://res.cloudinary.com/dfw9nsmab/image/upload/v1497896889/google_zvib6d.png" target="_blank"> <img src="google.jpg" width="34" height="34" /></i>  </a>&nbsp;&nbsp;
<a href="http://res.cloudinary.com/dfw9nsmab/image/upload/v1497896848/sn_bqpz9r.png" target="_blank"><img src="sn.png" width="34" height="34" />
 </i></a>&nbsp;&nbsp;
<a href="http://res.cloudinary.com/dfw9nsmab/image/upload/v1497896864/youtube-icon_ntt8sf.jpg" target="_blank"><img src="youtube-redondo.png" width=34" height="34"/></i>
  </div>  <!-- col-lg- -->


</div> <!-- row --> 


 