 <div class="estilosapp2">
 

 
 <!-- PARCIAL HEADER --> 
 <%= render "shared/header" %>

<br>
<br>
<br>
<br>
<br>



<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">TREDING ON RT</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Wonder Woman Rewies</a></li>
      <li><a href="#">DC super heroes movies</a></li>
      <li><a href="#">Cannes tomatometers</a></li>
      <li><a href="#">Summer scorecard</a></li>
    </ul>
  </div>
</nav>



  <div class="row ">
  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- bootsnipp Circle Menu -->

<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-5715866801509976"
     data-ad-slot="3922266447"
     data-ad-format="auto"></ins>
     <h2 class="text-center">Elige el plan de suscripción que quieras, para ti o para regalar</h2>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
<br>
<br>
    <div class="col-lg-12">
      <div>


        <div class="col-md-4">
          <div class="profile-card text-center">

            <img class="img-responsive" src="https://images.unsplash.com/photo-1454678904372-2ca94103eca4?crop=entropy&fit=crop&fm=jpg&h=975&ixjsv=2.1.0&ixlib=rb-0.3.5&q=80&w=1925">
            <div class="profile-info">

              

              <h2 class="hvr-underline-from-center">€ 9,99/mo<span>Bronze</span></h2>
              <div><p><b>Unlimited</b> Email Addresses</p>
                <p><b>50BG</b> Disk Space</p>
                 <p><b>Unlimited</b> MYSQL Databases</p>
                  <p><b>Unlimited</b> Domains</p>
                <p><b>Free</b> Billing Systems</p></div>
              <a href="http://www.twitter.com/mike_youngg"><i class="fa fa-twitter fa-2x"></i></a>
              <a href="mailto:michael_y@live.co.uk"><button calss="btn btn-defautl" type="button">SIGN UP</button></i></a>
              <a href="http://www.linkedin.com"><i class="fa fa-linkedin fa-2x"></i></a>
            </div>

          </div>
        </div>
        <div class="col-md-4">
          <div class="profile-card text-center">

            <img class="img-responsive" src="https://images.unsplash.com/photo-1451188502541-13943edb6acb?crop=entropy&fit=crop&fm=jpg&h=975&ixjsv=2.1.0&ixlib=rb-0.3.5&q=80&w=1925">
            <div class="profile-info">

              


              <h2 class="hvr-underline-from-center">€ 12,99/mo<span>Silver</span></h2>
              <div><p><b>Unlimited</b> Email Addresses</p>
                <p><b>50BG</b> Disk Space</p>
                 <p><b>Unlimited</b> MYSQL Databases</p>
                  <p><b>Unlimited</b> Domains</p>
                <p><b>Free</b> Billing Systems</p></div>
              <a href="http://www.twitter.com/mike_youngg"><i class="fa fa-twitter fa-2x"></i></a>
              <a href="mailto:michael_y@live.co.uk"><button calss="btn btn-defautl" type="button">SIGN UP</button></i></a>
              <a href="http://www.linkedin.com"><i class="fa fa-linkedin fa-2x"></i></a>
            </div>

          </div>
        </div>
        <div class="col-md-4">
          <div class="profile-card text-center">

            <img class="img-responsive" src="https://images.unsplash.com/photo-1447877085163-3cce903855cd?crop=entropy&fit=crop&fm=jpg&h=975&ixjsv=2.1.0&ixlib=rb-0.3.5&q=80&w=1925">
            <div class="profile-info">

            
            

              <h2 class="hvr-underline-from-center">€ 19,99/mo<span>Gold</span></h2>
              <div><p><b>Unlimited</b> Email Addresses</p>
               <p><b>80BG</b> Disk Space</p>
              <p><b>Unlimited</b> MYSQL Databases</p>
               <p><b>Unlimited</b> Domains</p>
               <p><b>Free</b> Billing Systems</p></div>
              <a href="http://www.twitter.com/mike_youngg"><i class="fa fa-twitter fa-2x"></i></a>
              <a href="mailto:michael_y@live.co.uk"><button calss="btn btn-defautl" type="button">SIGN UP</button></i></a>
              <a href="http://www.linkedin.com"><i class="fa fa-linkedin fa-2x"></i></a>
            </div>

          </div>
        </div>


      </div>
    </div>
  </div>
</div>
  </div>
</div>


</div> <!-- end container --> 

</div>
</div>
