<style type="text/css">
.input{
font-size:24px;
width:20%;
padding:3px;
margin-top:2px;
margin-right:6px;
margin-bottom:16px;
border:1px solid #e5e5e5;
background:#fbfbfb;
color:#aabbcc;
}
</style>
</head>
<body>
<h4>User</h4><input name="txtnom" type="text" class="input" value="" >
<h4>Password</h4><input name=txtpass type="password" class="input" value="" size="2">
</body>
</html>

