// Place all the styles related to the statics controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/   

.estilosapp2 {

#logo {
  
   background-image: url("https://staticv2-4.rottentomatoes.com/static/images/logos/tomatocorner.png");
    background-color: green;
    background-repeat: no-repeat;
      width: 100%; height: 100px;
      
}
#brand-logo {
 background-image: url("https://staticv2-4.rottentomatoes.com/static/images/logos/rtlogo.png");
  background-repeat: no-repeat;
      width: 400px; height: 100px;

}
.login { color:white !important; width:450px; float:right;}
.nav > li > a, .navbar-text { color:white !important; font-weight: bold;  }
.nav > li > a:visited { background-color: green !important;    }
.bgreen { background-color: green; color: white; font-weight: bold;}
.cuerpo { margin: 10px 10px; margin-top: 35px;}
.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s; 
    border-radius: 5px;
}

.card:hover {
    box-shadow: 0 8px 5px 0 rgba(0,0,0,0.2);
}

img {
    border-radius: 5px 5px 0 0;
}

.container {
    padding: 2px 18px;
}
table {
  border-style: none;
}
table td {
  border-style: none;
}
table tr:first-child td {
  border-style: none;
}
table tr td:first-child {
 border-style: none;
}
table tr:last-child td {
   border-style: none;
}
table tr td:last-child {
   border-style: none;
}
.blue { color: blue;}
.white { color: white;}
.fblack { background-color: black;}
.bold { font-weight: bold; }
.size18 { font-size: 18px; } 
.margin10le {margin-left: 17px;}

#footer { position:relative;background-color: black; padding: 1%; margin-top: 15px; border-top: 15px solid slategrey;}
#footer a { position:relative;color:white !important; text-decoration: none;}
#footer a:hover { color:yellow !important; }

.relleno { padding: 20px;}
 
}

.f   {  position:relative;

        margin-left:50;

}


.vertical-menu {
    width: 200px;

}

.vertical-menu a {
    background-color: #blue;
    color: black;
    display: block;
    padding: 12px;
    text-decoration: none;
}

.vertical-menu a:hover {
    background-color: #ccc;
}

.vertical-menu a.active {
    background-color: #4CAF50;
    color: white;
}

.fila2{font-weight:bolder;
	color:blue;


}
.titulo2{position:relative;
	margin-left:20%;
	top:2%;


}

.menuv{margin-left:50%;


}


#myCarousel{
    width: 500px; 
    height: 400px;
}


.fafa-star {
    background-color:yellow;

} 





.textwidget{position:relative;
        
        margin-left: 70%;
        margin-top:-13%;

        

}
.f{color:white;


}
.text{padding:3%;
    color:white;
    margin-top: -15;



}


.text1{position:relative;


    padding:3%;
    color:white;
     margin-top:-13%;
     margin-left:30%;




}
.button {
    background-color:red !important;
    weight:30%;
  color: white;
    border-radius:5px;

}


.titulo2{width:90%;
         height: 35%;
         background:yellow;
       margin-left:1%;
         padding:5%;









//PAGINA DE ABOUt//


}


.textwidget1{  margin-left:1%;
              margin-top:-6%;


}




.footer2{position:relative;
    background:black;
    height: 80%;
    padding:3%;

    

}

//SETTINGS//

.fafa-shield{
  color:#ffffff;


}